{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>


  
      {% block title %}
      Login
      {% endblock %}
    
   
{% block content %}

<body>



    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login__form">
                        <h3 class="m-3">Login</h3>
                        <form action="#" method="POST">
                            <div class="input__item">
                                <input type="text" placeholder="Username" name="username" style="width:150%;">
                                <span class="icon_profile"></span>
                            </div>
                            <br>
                            <div class="input__item">
                                <input type="password" placeholder="Password" required name="password" style="width:150%;">
                                <span class="icon_lock"></span>
                            </div>
                            <br>
                            <button type="submit" class="site-btn">Login Now</button>
                            {% csrf_token %}
                        </form>
            
                    </div>
                </div>
                <div class="col-lg-1qq2">
                    <div class="login__register">
                        <h3>Don’t Have An Account?</h3>
                        <a href="{% url 'signup' %}" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>

        </div>
            
    </section>
    <!-- Login Section End -->
{% endblock %}

    