{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>


  
      {% block title %}
      Login
      {% endblock %}
    
   
{% block content %}

<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3 class="m-3">Sign Up</h3>
                    <form action="#" method="POST">
                        {{regis.as_p}}
                            <button type="submit" class="site-btn">Login Now</button>
                        {% csrf_token %}
                    </form>
                    <br>
                    <h5>Already have an account? <a href="{% url 'login' %}">Log In!</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}